html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
}

/* index page */

.page1{
position: relative;
background-image: url(img/pp1.gif);
background-color: black;
background-size: cover;
}

#element {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* page2 first js */
.page2{
  background-color: black;
}