html {
  margin: 0;
  padding: 0;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
}

.page1{
  background-color: black;
}

canvas {
  display: flex;
  z-index: 10;
}

.page2{
  background-color: teal;
}